/* ----- 47. ABOUT PAGE ----- */
.about-inner-page {
    .rv-8-team.rv-section-spacing {
        padding-top: 0;
    }
}
.rv-inner-about-btn {

    .txt,
    .icon {
        border-color: #1c74e9;
        background-color: #1c74e9;
    }
}

.rv-1-section-heading-2 .rv-1-section-heading__right .rv-inner-about-btn:hover {
    border-color: #1c74e9;
    background-color: #1c74e9;
}

.rv-inner-slider-nav button:hover {
    border-color: #1c74e9;
    background-color: #1c74e9;
}