/*----- 01 CUSTOM PROPERTIES-----*/
:root {
    --white-f: #ffffff;
    --black-0: #000000;
    --black: #050505;
    --black-2: #1d1d1d;
    --orange: #F2584C;
    --green: #0F8C50;

    // FONTS
    --inter: "Inter", sans-serif;
    --mulish: 'Mulish', serif;
    --newsreader: 'Newsreader', serif;
    --sahitya: 'Sahitya', serif;
    --philosopher: 'Philosopher', sans-serif;
    --oldenburg: 'Oldenburg', serif;
}

// color code variables 

$black1: #1B1B1B;
$black2: #292929;
$blue1: #426cff;
$purple: #51459D;
$sub-title: #0A2540;
$bacground1: #eef1f6;
$bacground2: #213c9c;
$bacground3: #F5F6FA;
$blog-bacground: #E9F0F6;
$text-color-1: #0A2540;
$text-color-2: rgba(10, 37, 64, 0.6);
$text-color-3: #FF3D2E;
$text-color-4: #636467;
$border-color-2: rgba(10, 37, 64, 0.1);
$btn-color-1: #c827e2;
$border-color-1: #14b789;

// ==========
$rv-32-text-color1: #5D626C;
$btn-color-2: #794AFF;
$text-color-5: #050505;
$border-color-3: #05050510;

// ==========
$rv-33-btn-color: #FFD338;
$rv-33-bg-color: #FCF7E8;
// ==================
$rv-34-color-1: #FFAA17;

$rv-35-bg-color: #0D3909;
$rv-35-btnColor: #0057FC;


$rv-36-btnColor: #FB3E2D;
$rv-37-btnColor: #1569FD;